.formGroup {
  position: relative;
  padding: 15px 0 0;
  width: 40vw;
}

@media only screen and (max-width: 768px) {
  .formGroup {
    width: 80vw;
  }
}

.autocomplete {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  width: 100%;
}

.autocomplete:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #1c0a85, #00914d);
  border-image-slice: 1;
}

.countriesList {
  margin-top: 1vh;
  height: 20vh;
  overflow: auto;
  text-align: left;
}

.countriesList::-webkit-scrollbar {
  width: 16px;
}

.countriesList::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #221f2e;
  border: 1px solid #010036;
}

.countriesList::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #6c59d5;
}

.countryOption {
  padding-left: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.countryOption:hover {
  background-image: linear-gradient(to right, #1c0a85, #00914d);
}

.countryOptionFlag {
  border: 0.5px solid gray;
  margin-right: 1rem;
  width: 1em;
}
